// app global css in SCSS form
.blackBack {
	background-color: #1d1d1d;
}
.fullWidth {
	width: 100%;
}
.btnWidth {
	width: 118px;
}
.cstWidth {
	width: 80px;
}
.rsnWidth {
	width: calc(100% - 118px - 80px);
}