<link rel='stylesheet' href='/css/message.css' />
<body id="main" class="background">
<span class="Welcome"><%= message %></span>
<span class="Status"><%= error.status %></span>
<span class="Stack"><pre><%= error.stack %></pre></span>