<title>Hello and Welcome</title>
<button   onclick="newLocation('/forge')">=Forge=</button>
<button onclick="newLocation('/convert')">Convert</button>
<button onclick="newLocation('/explore')">Explore</button>
<script>
function newLocation(str) {
  window.location.href=str;
}
</script>