<title>Hello and Welcome</title>
<button onclick="newLocation('/forge')">=Forge=</button>
<button onclick="newLocation('/convert')">Convert</button>
<script>
	function newLocation(str) {
		window.location.href=str;
	}
</script>