* {transition: .2s}
body {background:#000;color:#fff;font-size: 1.1vw;font-family: system-ui;}
h2,h3,h4,h5,h6 {margin:.1em;margin-left:.2em;}
h1 {font-size:2.2em; color:#fc0; text-align: center; text-transform: Uppercase;}
h2 {font-size:2.0em; color:#fc1;}
h3 {font-size:1.8em; color:#fc2;}
h4 {font-size:1.6em; color:#fc4;}
h5 {font-size:1.4em; color:#fc6;}
h6 {font-size:1.2em; color:#fc8;}

.gridcon {display: grid; grid-gap: .5vw;}

button {
	background: #001;
	border: #0cf solid .01em;
	border-radius: .5em;
	margin: .5vw;
	padding: .4vw;
}

.input {
	position:sticky;
	left:190px;
	margin-top: 20px;
}
	
.input2 {
	position:sticky;
	left:190px;
	margin-top: 20px;
}

.select {
	position:sticky;
	left:190px;
	margin-top: 20px;
	width:162px;
}

.check2 {
	position: relative;
	left: 5%;
	margin-top: 20px;
}

.check3 {
	position: relative;
	margin-left: 10px;
	margin-top: 20px;
}

.check4 {
	position: relative;
	margin-left: 10px;
	margin-top: 20px;
}

.check5 {
	position: relative;
	margin-left: 10px;
	margin-top: 20px;
}

.check6 {
	position: relative;
	margin-left: 10px;
	margin-top: 20px;
}

.check7 {
	position: relative;
	margin-left: 10px;
	margin-top: 20px;
}

.check8 {
	position: relative;
	margin-left: 10px;
	margin-top: 20px;
}

.labelLeft {
	position: relative;
	margin-left: 5%;
}

.label {
	position: relative;
	left: 5%;
}

.label2 {
	position: relative;
	left: 187px;
}

.label3 {
	position: relative;
	left: 200px;
}

.label4 {
	position: relative;
	left: 209px;
}

.label5 {
	position: relative;
	left: 212px;
}

.labelDescription {
	position: absolute;
	top: 30px;
	right: 360px;
}

.textDescription {
	position: absolute;
	right: 50px;
	top: 50px;
	width: 350px;
	height: 400px;
}

.popUp {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:var(--sx);
	background-color: #001;
}

.hidden {
	visibility: hidden;
}
.meh2 {
	margin-left:83px;
}
.meh {
	margin-left:70px;
}
.buttoned {
	border: #0cf solid .1em;
	text-transform: uppercase;
	font-size:2em;
	color: #fc0;
	font-family: system-ui;
	font-weight: 1000;
	width:15%;
}
.buttoned:hover{
	border: #fff solid .1em;
	color: #fff;
	box-shadow: inset 0 0 1vw #fff;
	text-shadow: 0 0 0.5vw #fff;
}
.buttoned:focus{
	outline:none;
	border: #fc0 solid .1em;
	color: #0cf;
}
.buttoned:hover * {color: #fff;}
.buttoned:focus * {color: #0cf;}

.buttoned2 {
	width:40%;
	padding: 1vw .5vw;
	border: #0cf solid .1em;
	margin-right:4.5vw;
	margin-left:4.5vw;
	text-transform: uppercase;
	font-size:2em;
	color: #fc0;
	font-family: system-ui;
	font-weight: 1000;
}
.buttoned2:hover{
	border: #fff solid .1em;
	color: #fff;
	box-shadow: inset 0 0 1vw #fff;
	text-shadow: 0 0 0.5vw #fff;
}
.buttoned2:focus{
	outline:none;
	border: #fc0 solid .1em;
	color: #0cf;
}
.buttoned2:hover * {color: #fff;}
.buttoned2:focus * {color: #0cf;}

.buttoned3 {
	border: #0cf solid .1em;
	text-transform: uppercase;
	font-size:2em;
	color: #fc0;
	font-family: system-ui;
	font-weight: 1000;
	width:15%;
	left: 25%;
	position:relative;
}
.buttoned3:hover{
	border: #fff solid .1em;
	color: #fff;
	box-shadow: inset 0 0 1vw #fff;
	text-shadow: 0 0 0.5vw #fff;
}
.buttoned3:focus{
	outline:none;
	border: #fc0 solid .1em;
	color: #0cf;
}
.buttoned3:hover * {color: #fff;}
.buttoned3:focus * {color: #0cf;}

#rlr {
	width:40%;
	padding: 1vw .5vw;
	border: #0cf solid .1em;
	margin-right:4.5vw;
	margin-left:4.5vw;
	text-transform: uppercase;
	font-size:2em;
	color: #fc0;
	font-family: system-ui;
	font-weight: 1000;
}

#rlr:hover{
	border: #fff solid .1em;
	color: #fff;
	box-shadow: inset 0 0 1vw #fff;
	text-shadow: 0 0 0.5vw #fff;
}

#rlr:focus{
	outline:none;
	border: #fc0 solid .1em;
	color: #0cf;
}

#rlr:hover * {color: #fff;}
#rlr:focus * {color: #0cf;}

/*fieldset {margin-right:auto;margin-left:auto;}*/		